{% extends 'base.html' %}
{% load static %}
{% block title %}

{{ title }} :: {{ block.super }}

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-8 mt-1 mb-1 text-center">
    <h3>{{ title }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ps-4 pe-4">
    <form method="post" enctype="multipart/form-data">  {% csrf_token %}
      <div class="form-group">
        <p>
          <label for="{{ form.surname.id_for_label }}">{{ form.surname.label_tag }}</label>
          <input type="text" name="surname" class="form-control" value="{{ director.surname }}" maxlength="150" required id="{{ form.surname.id_for_label }}">
        </p>
        <p>
          <label for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
          <input type="text" name="name" class="form-control" value="{{ director.name }}"maxlength="150" required id="{{ form.name.id_for_label }}">
        </p>
        <p>
          <label for="{{ form.soname.id_for_label }}">{{ form.soname.label_tag }}</label>
          <input type="text" name="soname" class="form-control" value="{{ director.soname }}" maxlength="150" id="{{ form.soname.id_for_label }}">
        </p>
        <p>
          <label for="{{ form.phone.id_for_label }}">{{ form.phone.label_tag }}</label>
          <input type="tel" class="form-control" name="phone" value="{{ director.phone }}" pattern='(\+7|7|8)+[0-9]{10}' maxlength="16" required id="{{ form.phone.id_for_label }}" placeholder="+79123456789">
        </p>
        <p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item" style="margin: 0px; margin-left: 0px; margin-right: 0px;">
              <label for="blah">{{ form.avatar.label_tag }}    </label>
            </li>
            <li class="list-inline-item" style="margin: 0px; margin-left: 0px; margin-right: 0px;">
              <img id='blah' class="avatar thumbnail" alt="{{ form.surname.value }}" src="{{ director.avatar.url }}">
            </li>
            <li class="list-inline-item" style="margin: 0px; margin-left: 5px; margin-right: 0px;">
              <input class="image" type="file" name="avatar" accept="image/*" id="id_avatar">
            </li>
          </ul>
        </p>
        <p>
          <a href="{% url 'change_password' 'director' director.user.pk %}" class="black">Сменить пароль</a>
        </p>
        <div class="row">
          <div class="col-6 text-start">
            <a href="{% url 'director_delete' director.pk %}">
              <button class="delete-button" type="button">Удалить</button>
            </a>
          </div>
          <div class="col-6 text-end">
            <button class="save-button" type="submit">Сохранить</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3">
  </div>
</div>
<script>
{{ form.avatar.id_for_label }}.onchange = evt => {
  const [file] = {{ form.avatar.id_for_label }}.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}

</script>
{% endblock %}