<div class="col-md-4 ml-3 d-none d-sm-block">
  <div class="card mb-3">
    <div class="row g-0">
      {% for post in posts %}
      <div class="col-md-4">
        <img src="{{ post.photo.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 ps-2">
        <a href="{{ post.get_absolute_url }}">
          <small>{{ post.title|safe|truncatewords:6 }}</small><br>
        </a>
        <small class="noShadow"><i>{{ post.created_at|date:'d.m.Y H:i' }}</i></small>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
