<div class="col-md-4 ml-3 d-none d-sm-block">
  <div class="card mb-3">
    <div class="row g-0">
      {% for post in posts %}
      <div class="col-md-4 mb-3">
        <img src="{{ post.photo.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 mb-3 ps-2">
        <a href="{{ post.get_absolute_url }}">
          <small class="mylinks text" style=" font-family: 'Oswald', sans-serif;">{{ post.title|safe|truncatewords:6 }}</small><br>
          <small class="text-muted" style=" font-family: 'Oswald', sans-serif;"><i>{{ post.created_at|date:'d.m.Y H:i' }}</i></small>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
