{% extends 'base.html' %}
{% load news_sidebar %}
{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for post in posts %}
    <div class="col-12 mt-4 ">
      <h4>{{ post.title }}</h4>
    </div>
    <!--    Контент новости-->
    <div class="row mt-2">
      <div class="col-md-8 pb-3 border-bottom">
        <img class="img-fluid rounded" src="{{ post.photo.url }}"/><br>
        <br>
        {{ post.content|safe|truncatewords:20 }}
        <a class="black" href="{{ post.get_absolute_url }}"> Подробнее ></a>
        <hr>
        <div class="text-end"><small class="text-muted">
          <i>{{ post.created_at|date:'m.d.Y H:i' }}&nbsp;&nbsp;&nbsp;
            <i class="bi bi-eye"></i> {{ post.views }}</i></small>
        </div>
      </div>
      <!--    Конец Контент новости  -->
      <!--    Список новостей   -->
      {% get_news %}
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-12 mt-3 text-end">
      <p class="card-text d-block d-sm-none text-start">
        <a class='black' onclick="javascript:history.back(); return false;"><i class="bi bi-arrow-return-left"></i> Назад</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}