{% extends 'base.html' %}
{% load static %}

{% block title %}

{{ title }} :: {{ block.super }}

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 text-center">
    <div class="row">
      <div class="col-12 mt-1 text-center">
        {% if period == 0 %}
         <h2>Статистика. Ученики.</h2>
        {% elif period > 2000 %}
          <h2>Статистика. Ученики. {{ period }}</h2>
        {% endif %}
      </div>
    </div>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <div class="row">
      <div class="col-12 mt-3 text-center">
        {% if period == 0 %}
          <h6>Подробнее: | {% for item in data_title %}<a href="{% url 'stat_registered_students' club.pk item %}" class="black">{{ item }}</a> | {% endfor %}</h6>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  const ctx = document.getElementById('myChart');
  Chart.defaults.color = '#c5c5c5';
  Chart.defaults.font.family = 'Montserrat';
<!--  Chart.defaults.borderColor = '#c5c5c5';-->

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ data_title|safe }},
      datasets: [
      {
        label: 'Всего',
        data: {{ data_total }},
        borderWidth: 3,
        backgroundColor: '#0d25ff',
        borderColor: '#0d25ff',
      },
      {
        label: 'Зарегистрировано',
        data: {{ data_qty_students }},
        borderWidth: 3,
        backgroundColor: '#fb00ff',
        borderColor: '#fb00ff',
      },
      {
        label: 'Убыло',
        data: {{ data_qty_leave }},
        borderWidth: 3,
        backgroundColor: '#d1e046',
        borderColor: '#d1e046',
      },
      ]
    },
    options: {
      scales: {
        x: {
<!--          stacked: true,-->
        },
        y: {
<!--          stacked: true,-->
          beginAtZero: true
        },
      },
    }
  });

</script>
{% endblock %}