{% extends 'base.html' %}
{% load static %}

{% block title %}

{{ title }}

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 mt-3 mb-3 text-center">
    <h3>Добавление занятия</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group">
        <p>
          <label for="{{ form.dt.id_for_label }}">{{ form.dt.label_tag }}</label>
          <input type="datetime-local" name="dt" class="form-control" value="{{ current_date|date:'Y-m-d H:i' }}" min="{{ current_date|date:'Y-m-d H:i' }}" maxlength="50" id="{{ form.dt.id_for_label }}">
        </p>

        <p>
          <label for="{{ form.student.id_for_label }}">{{ form.student.label_tag }}</label>
          <select class="form-select" multiple name="student" id="{{ form.student.id_for_label }}" required>
            {% for student in form.student %}
              <option value="{{ student.data.value }}">{{ student.data.label }}</option>
            {% endfor %}
          </select>
          <span class="helptext"><small> * Чтобы выбрать нескольких учеников используйте CTRL</small></span>

        </p>

        <p>
          <label for="{{ form.trainer.id_for_label }}">{{ form.trainer.label_tag }}</label>
          <select class="form-select"  name="trainer" id="{{ form.trainer.id_for_label }}" required multiple>
            {% for trainer in form.trainer %}
             {% if trainer.data.value %}
              <option value="{{ trainer.data.value }}">{{ trainer.data.label }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </p>
      </div>
      <div class="row">
        <div class="col-12 text-end">
          <button class="save-button" type="submit">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}