{% extends 'base.html' %}
{% load static %}
{% load clubs_tags  %}

{% block title %}

{{ title }}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 mt-1 mb-1 text-center">

      {% if groups.all.count == 1 %}
        {% get_students_qty_in_group groups.all.first.pk as student_qty %}
        <h3>Расписание {{ groups.all.first }} ({{ student_qty }} уч.)</h3>
      {% else %}
        <h3>Расписание групп</h3>
      {% endif %}
    </div>
</div>
<div class="row">
  <div class="col-12">
      {% for group in groups %}
        {% if group.club == club %}
            <div class="row">
              <div class="col">
                {% if groups.all.count == 1 %}
                <h5><a class="black" href="{% url 'add_lesson' club.pk group.pk %}"><i class="bi bi-plus-square"></i> Добавить занятие</a></h5>
                {% else %}
                {% get_students_qty_in_group groups.pk as student_qty %}
                {{ club.title }}, {{ group }} ({{ student_qty }} уч.)
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col mt-1 mb-3">
                <ul class="list-group rounded">
                  {% for lesson in lessons_group %}
                  {% if lesson.group == group %}
                    <a class="orange-schedule" href="{% url 'students_in_lesson' club.pk lesson.pk %}">
                      <li class="list-group-item d-flex justify-content-between align-items-center" style="border-radius: 0.375em;font-weight: bold;color: #c93c11;background-color: #c5c5c5;">
                        {{ lesson.dt|date:'d.m.Y H:i' }} - {{ lesson.trainer.all|join:', ' }}
                        {% load clubs_tags %}
                        {% get_participant_true lesson.pk as qty %}
                      <span class="badge rounded-pill">{{ qty }}</span>
                      </li>
                    </a>
                  {% endif %}
                  {% endfor %}
                  {% for lesson in filtered_lessons_individuals %}
                    <a class="orange-schedule" href="{% url 'students_in_lesson' club.pk lesson.pk %}" >
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="border-radius: 0.375em;font-weight: bold;color: #c93c11;background-color: #c5c5c5;">
                          {% load clubs_tags %}
                          {% get_participant_names lesson.pk as names %}
                          {{ lesson.dt|date:'d.m.Y H:i' }} - {{ lesson.trainer.all|join:', ' }} ({{ names }})
                        {% get_participant_true lesson.pk as qty %}
                        <span class="badge rounded-pill">{{ qty }}</span>
                        </li>
                      </a>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
      {% endfor %}
  </div>
      <p class="text-end">
      {% if groups.all.count == 1 %}
      <button class='back-button' onclick="location.href='{% url 'students' club.pk groups.all.first.pk %}';" ><i class="bi bi-arrow-return-left"></i> Назад</button>
      {% else %}
        <button class='back-button' onclick="location.href='{% url 'detail_club' club.pk %}';" ><i class="bi bi-arrow-return-left"></i> Назад</button>
      {% endif %}

</div>

{% endblock %}