{% extends 'base.html' %}
{% load static %}

{% block title %}

{{ title }} :: {{ block.super }}

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 text-center">
        <!--     1 строчка кнопок  -->
        <div class="row pt-3">
          <div class="col-md-6 mb-4">
            <a href="{% url 'trainers' club.pk %}">
              <div class="d-grid gap-2 ">
                <button class="btn btn-outline-light my-color" type="button">Сотрудники</button>
              </div>
            </a>
          </div>
          <div class="col-md-6 mb-4">
            <a href="{% url 'groups' club.pk %}">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Группы</button>
              </div>
            </a>
          </div>
        </div>
        <!--     Конец 1 строчка кнопок  -->
        <!--     2 строчка кнопок  -->
        <div class="row">
          <div class="col-md-6 mb-4">
            <a href="{% url 'subscription_list' club.pk %}">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Абонементы</button>
              </div>
            </a>
          </div>
          <div class="col-md-6 mb-4">
            <a href="{% url 'club_schedule' club.pk %}">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Расписание</button>
              </div>
            </a>
          </div>
        </div>
        <!--     Конец 2 строчка кнопок  -->
        <!--     3 строчка кнопок  -->
        <div class="row">
          <div class="col-md-6 mb-4">
            <a href="{}">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Статистика</button>
              </div>
            </a>
          </div>
          <div class="col-md-6 mb-4">
            <a href="{}">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Финансы</button>
              </div>
            </a>
          </div>
        </div>
        <!--     Конец 3 строчка кнопок  -->
        <!--     4 строчка кнопок  -->
        <div class="row">
          <div class="col-md-6 mb-4">
            <a href="{}">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Услуги</button>
              </div>
            </a>
          </div>
          <div class="col-md-6 mb-4">
            <a href="{% url 'club_mailing' club.pk %}">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Связь</button>
              </div>
            </a>
          </div>
        </div>
        <!--     Конец 4 строчка кнопок  -->
        <!--     5 строчка кнопок  -->
        <div class="row">
          <div class="col-md-6 mb-4">
            <a href="№">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Вклад в будущее</button>
              </div>
            </a>
          </div>
          <div class="col-md-6 mb-4">
            <a href="{}">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light my-color" type="button">Мероприятия</button>
              </div>
            </a>
          </div>
        </div>
        <!--     Конец 5 строчка кнопок  -->

  </div>
</div>
{% endblock %}