{% load static %}
<div class="row mb-3 d-none d-sm-block">
  <div class="col-12">
    <div class="menu">
      <ul class="hr">
        <li><a class="img-nav" href="/"><img class="nav-img" src="{% static '/logo2.png' %}" alt="" width="64" height="64"></a></li>
        {% if user.director %}
          {% if user.director.tgID %}
            <li><a class="revers {{ d }}" href="{% url 'detail' user.director.pk %}">Кабинет</a></li>
            {% if user.director.club_set.all.count > 0 %}
              <li><a class="revers" href="{% url 'club_schedule' 0 %}">Расписание</a></li>
              <li><a class="revers" href="{% url 'events' 0 %}">Мероприятия</a></li>
              <li><a class="revers" href="{% url 'fin_clubs' 0 %}">Финансы</a></li>
            {% else %}
              <li><a class="revers disabled" href="#">Расписание</a></li>
              <li><a class="revers disabled" href="#">Статистика</a></li>
              <li><a class="revers disabled" href="#">Финансы</a></li>
            {% endif %}
              <li><a class="revers" href="{% url 'last_news' %}">Новости</a></li>
          {% else %}
            <li><a class="revers disabled" href="#">Кабинет</a></li>
            <li><a class="revers disabled" href="#">Расписание</a></li>
            <li><a class="revers disabled" href="#">Статистика</a></li>
            <li><a class="revers disabled" href="#">Финансы</a></li>
            <li><a class="revers disabled" href="#">Новости</a></li>
          {% endif %}
        {% endif %}

        {% if user.trainer %}
        <li><a class="revers" href="{% url 'detail' 'trainer' user.trainer.pk %}">Кабинет</a></li>
        <li><a class="revers" href="{}">Расписание</a></li>
        <li><a class="revers" href="{% url 'trainers_statistic' user.trainer.club.pk user.trainer.pk %}">Статистика</a></li>
        <li><a class="revers" href="{}">Новости</a></li>
        <li><a class="revers" href="{}">Финансы</a></li>
        {% endif %}

        {% if user.student %}
        <li><a class="revers" href="{% url 'detail' 'student' user.student.pk %}">Кабинет</a></li>
        <li><a class="revers" href="{}">Расписание</a></li>
        <li><a class="revers" href="{% url 'trainers_statistic' user.trainer.club.pk user.trainer.pk %}">Статистика</a></li>
        <li><a class="revers" href="{}">Новости</a></li>
        <li><a class="revers" href="{}">Финансы</a></li>
        {% endif %}
        <li>
        {% if request.user.is_authenticated %}
        <a class="revers" href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i> Выйти</a>
        {% else %}
        <a class="revers" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Войти</a>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>
</div>
