      {% load accounts_tags  %}
<div class="row">
  {% if director %}
  <div class="col-6 col-md-12 text-center">
    <div class="card bg-dark text-white">
      <img class="img-fluid rounded" alt="{{ director }}" src="{{ director.avatar.url }}"/>
      <div class="card-img-overlay text-end" style="padding: 0.2em;padding-right: 0.5em;font-size: 1.5em;">
        <a href="{% url 'edit_details' director.pk %}"><i class="bi bi-pencil-square" style="color: #c93c11"></i></a>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-12 text-center">
    <div class="row">
      <div class="col-12 text-center pt-3"><h3>{{ director.surname }} {{ director.name }} {{ director.soname }}</h3></div>
      {% get_balance director.pk as balance %}
      <div class="col-12 text-center pt-1"><h5> Баланс: {{ balance|default_if_none:"0" }}₽</h5></div>
      <div class="col text-center pt-0">
        <div class="row">
          <div class="col-12 col-md-6 text-center"><small>|<a class="revers" href="{}"> Вывод </a>|</small></div>
          <div class="col-12 col-md-6 text-center"><small>|<a class="revers" href="{}"> Пополнение </a>|</small></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  {% if club %}
  <div class="col-6 col-md-12 text-center">
    <div class="card bg-dark text-white">
      <img class="img-fluid rounded" alt="{{ club }}" src="{{ club.avatar.url }}"/>
      <div class="card-img-overlay text-end" style="padding: 0.2em;padding-right: 0.5em;font-size: 1.5em;">
        <a class="black" href="{% url 'club_edit' club.pk %}"><i class="bi bi-pencil-square" style="color: #c93c11"></i></a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-12 text-center">
    <div class="row">
      <div class="col-12 text-center pt-3"><a href="{% url 'club_detail' club.pk %}"><h3>{{ club }}</h3></a></div>
      {% if not group %}
      <div class="col-12 text-center pt-1"><i><small> {{ club.description }}</small></i></div>
      {% else %}
      <div class="col-12 text-center pt-1"><h5>{{ group }} <a class="black" href="{% url 'edit_group' club.pk group.pk %}"><i class="bi bi-pencil-square" style="color: #c93c11"></i></a></h5></div>
      <div class="col text-center">
        <div class="row">
          <div class="col-12 col-md-6 text-center"><small>|<a class="revers" href="{% url 'group_statistic' club.pk group.pk %}"> Статистика </a>|</small></div>
          <div class="col-12 col-md-6 text-center"><small>|<a class="revers" href="{% url 'group_schedule' club.pk group.pk %}"> Расписание </a>|</small></div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>


    {% endif %}


  {% if trainer %}
  <div class="col-6 col-md-12 text-center">
    <div class="card bg-dark text-white">
      <img class="img-fluid rounded" alt="{{ trainer }}" src="{{ trainer.avatar.url }}"/>
      <div class="card-img-overlay text-end" style="padding: 0.2em;padding-right: 0.5em;font-size: 1.5em;">
        <a class="" href="{% url 'trainer_edit' trainer.club.pk trainer.pk %}"><i class="bi bi-pencil-square" style="color: #c93c11"></i></a>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-12 text-center">
    <div class="row">
      <div class="col-12 text-center pt-3"><h3>{{ trainer.surname }} {{ trainer.name }} {{ trainer.soname }}</h3></div>
      <div class="col-12 text-center pt-3"> <p><a class='black' href="tel:{{ trainer.phone }}"><i class="bi bi-telephone"></i> {{ trainer.phone }}</a></p></div>
      {% comment %}
      {% get_st_balance student.pk as balance %}
<!--      Здесь можно получать текущую зарплату-->
      <div class="col-12 text-center pt-3"><h5> Баланс: {{ balance|default_if_none:"0" }}₽</h5></div>
            {% endcomment %}
    </div>
  </div>
  {% endif %}


  {% if student %}
  <div class="col-6 col-md-12 text-center">
    <div class="card bg-dark text-white">
      <img class="img-fluid rounded" alt="{{ student }}" src="{{ student.avatar.url }}"/>
      <div class="card-img-overlay text-end" style="padding: 0.2em;padding-right: 0.5em;font-size: 1.5em;">
        <a class="mylinks" href="{% url 'student_edit' student.group.club.pk student.group.pk student.pk %}"><i class="bi bi-pencil-square" style="color: #c93c11"></i></a>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-12 text-center">
    <div class="row">
      <div class="col-12 text-center pt-3"><h3>{{ student.surname }} {{ student.name }} {{ student.soname }}</h3></div>
      <div class="col-12 text-center pt-0"> <p><a class='black' href="tel:{{ student.agent_phone }}"><i class="bi bi-telephone"></i> {{ student.agent_phone }}</a> <small style="second">({{ student.agent_name }})</small></p></div>
      <div class="col-12 text-center pt-0"><h5>Доступно занятий: {{ student.qty_lesson }} </h5></div>
    </div>
  </div>
  {% endif %}


  {% if group %}
  <div class="col-6 col-md-12 text-center">
    <div class="card bg-dark text-white">
      <img class="img-fluid rounded" alt="{{ group.title }}" src="{{ group.avatar.url }}"/>
      <div class="card-img-overlay text-end" style="padding: 0.2em;padding-right: 0.5em;font-size: 1.5em;">
        <a href="{% url 'group_edit' group.club.pk group.pk %}"><i class="bi bi-pencil-square" style="color: #c93c11"></i></a>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-12 text-center">
    <div class="row">
      <div class="col-12 text-center pt-3"><h3>{{ group.title }}</h3></div>
      <div class="col-12 text-center"><i><small> {{ group.description }}</small></i></div>

      <div class="col text-center pt-2">
        <div class="row">
          <div class="col-12 col-md-6 text-center"><small>|<a class="revers" href="{}"> Статистика </a>|</small></div>
          <div class="col-12 col-md-6 text-center"><small>|<a class="revers" href="{% url 'group_schedule' group.club.pk group.pk %}"> Расписание </a>|</small></div>
        </div>
      </div>
      {% comment %}
      {% get_st_balance student.pk as balance %}
      <div class="col-12 text-center pt-3"><h5> Баланс: {{ balance|default_if_none:"0" }}₽</h5></div>

                  {% endcomment %}
    </div>
  </div>
  {% endif %}


  {% if "/t/" in request.get_full_path %}
  <div class="col-6 col-md-12">Фото</div>
  <div class="col-6 col-md-12">ФИО или Название и описание</div>
  <div class="col-6 col-md-12">Динамичные данные</div>
  {% endif %}
  {% if "/s/" in request.get_full_path %}
  <div class="col-6 col-md-12">Фото</div>
  <div class="col-6 col-md-12">ФИО или Название и описание</div>
  <div class="col-6 col-md-12">Динамичные данные</div>
  {% endif %}
</div>