{% extends 'base.html' %}
{% load static %}
{% block title %}

{{ title }} :: {{ block.super }}

{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 col-md-8 mt-1 mb-1 text-center">
        <h3>{{ title }}</h3>
    </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ps-4">
    <div class="row text-center">
      <div class="col-12 col-md-4 mb-3">
        <a href="{% url 'register' 'director' %}"><button class="user-type-button">Директор</button></a>
      </div>
            <div class="col-12 col-md-4 mb-3">
        <a href="{% url 'register' 'trainer' %}"><button class="user-type-button"> Преподаватель</button></a>
      </div>
            <div class="col-12 col-md-4 mb-3">
        <a href="{% url 'register' 'student' %}"><button class="user-type-button">Ученик</button></a>
      </div>
    </div>
  </div>
  <div class="col-3">
  </div>
</div>
{% endblock %}