{% extends 'base.html' %}
{% load static %}

{% block title %}

{{ title }} :: {{ block.super }}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 mt-1 mb-1 text-center">
        <h2> {{ title }} </h2>
    </div>
</div>
  <div class="col-12 col-md-8">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <p>
          <label for="id_new_password1">Новый пароль:</label>
          <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required id="id_new_password1">
          <ul>
            <li><small>Пароль не должен быть слишком похож на другую вашу личную информацию.</small></li>
            <li><small>Ваш пароль должен содержать как минимум 8 символов.</small></li>
            <li><small>Пароль не должен быть слишком простым и распространенным.</small></li>
            <li><small>Пароль не может состоять только из цифр.</small></li>
          </ul>
        </p>
        <p>
        <label for="id_new_password2">Подтверждение нового пароля:</label>
        <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required id="id_new_password2">
        </p>
        <p align="right">
          <a class='black' onclick="javascript:history.back(); return false;"><i class="bi bi-arrow-return-left"></i> Назад</a>
          <button class="save-button" type="submit">Сохранить</button>
        </p>
      </div>
    </form>
  </div>
  <div class="col-3"></div>
{% endblock %}