{% extends 'base.html' %}
{% load static %}

{% block title %}

{{ title }} :: {{ block.super }}

{% endblock %}

{% block content %}
{% if not student.is_active %}
<div class="row">
    <div class="col-12 mt-1 mb-1">
        <h3><i class="bi bi-exclamation-diamond" style="color: #c93c11"></i> <u>Студент не активен!</u></h3>
    </div>
</div>
{% endif %}


<div class="row">
    <div class="col-12 mt-1 mb-1">
        <h5>Группа: <a href="{% url 'group_detail' student.group.club.pk student.group.pk %}" class="black">{{ student.group.title }}</a></h5>
    </div>
</div>
<div class="row">
  <div class="col-12 p-3">
    <p>Тренировок в группе: {{ qty_lesson }}</p>
    <p>Тренировок индивидуально: {{ qty_lesson_ind }}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 p-3">
    <p class="second"><a class='black' href="{% url 'add_indiv_lesson' student.group.club.pk %}"><i class="bi bi-plus-square"></i> Добавить индивидуальное занятие</a></p>
  </div>
</div>
{% endblock %}